In [1]:
import numpy as np
import pandas as pd

s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20200313',periods=6)

dates

DatetimeIndex(['2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4),index=dates , columns=list('ABCD'))

df

                   A         B         C         D
2020-03-13 -0.728054  1.010481 -0.097438 -0.398045
2020-03-14  0.116035 -0.173706 -1.674774 -0.133561
2020-03-15  1.098722 -1.425293  1.304516  0.642981
2020-03-16 -0.245863  0.814059 -0.465454  0.099760
2020-03-17  1.951085 -2.141165 -0.234059  1.124010
2020-03-18  1.262787 -0.443534  0.919941  0.519135

In [7]:
df2 = pd.DataFrame({'A':1.,
                    'B':pd.Timestamp('20200313'),
                    'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D':np.array([3]*4,dtype='int32'),
                    'E':pd.Categorical(['test','train','test','train']),
                    'F':'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-03-13  1.0  3   test  foo
1  1.0 2020-03-13  1.0  3  train  foo
2  1.0 2020-03-13  1.0  3   test  foo
3  1.0 2020-03-13  1.0  3  train  foo

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [23]:
df.tail(3)

                   A         B         C         D
2020-03-16 -0.245863  0.814059 -0.465454  0.099760
2020-03-17  1.951085 -2.141165 -0.234059  1.124010
2020-03-18  1.262787 -0.443534  0.919941  0.519135

In [24]:
df.index

DatetimeIndex(['2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [26]:
df.to_numpy()

array([[-0.7280542 ,  1.01048084, -0.09743783, -0.39804471],
       [ 0.11603548, -0.17370635, -1.67477408, -0.13356112],
       [ 1.09872207, -1.42529317,  1.30451568,  0.64298132],
       [-0.24586264,  0.81405872, -0.46545403,  0.09975997],
       [ 1.95108517, -2.14116481, -0.23405918,  1.12400984],
       [ 1.26278719, -0.44353427,  0.91994104,  0.51913493]])

In [27]:
df2.to_numpy()

array([[1.0, Timestamp('2020-03-13 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-03-13 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-03-13 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-03-13 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [28]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.575786 -0.393193 -0.041211  0.309047
std    1.022092  1.232810  1.060533  0.558479
min   -0.728054 -2.141165 -1.674774 -0.398045
25%   -0.155388 -1.179853 -0.407605 -0.075231
50%    0.607379 -0.308620 -0.165749  0.309447
75%    1.221771  0.567117  0.665596  0.612020
max    1.951085  1.010481  1.304516  1.124010

In [29]:
df.T

   2020-03-13  2020-03-14  2020-03-15  2020-03-16  2020-03-17  2020-03-18
A   -0.728054    0.116035    1.098722   -0.245863    1.951085    1.262787
B    1.010481   -0.173706   -1.425293    0.814059   -2.141165   -0.443534
C   -0.097438   -1.674774    1.304516   -0.465454   -0.234059    0.919941
D   -0.398045   -0.133561    0.642981    0.099760    1.124010    0.519135

In [30]:
df.sort_index(axis=1 ,ascending=False)

                   D         C         B         A
2020-03-13 -0.398045 -0.097438  1.010481 -0.728054
2020-03-14 -0.133561 -1.674774 -0.173706  0.116035
2020-03-15  0.642981  1.304516 -1.425293  1.098722
2020-03-16  0.099760 -0.465454  0.814059 -0.245863
2020-03-17  1.124010 -0.234059 -2.141165  1.951085
2020-03-18  0.519135  0.919941 -0.443534  1.262787

In [34]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2020-03-13 -0.728054  1.010481 -0.097438 -0.398045
2020-03-16 -0.245863  0.814059 -0.465454  0.099760
2020-03-14  0.116035 -0.173706 -1.674774 -0.133561
2020-03-18  1.262787 -0.443534  0.919941  0.519135
2020-03-15  1.098722 -1.425293  1.304516  0.642981
2020-03-17  1.951085 -2.141165 -0.234059  1.124010

In [35]:
df['A']

2020-03-17    1.951085
2020-03-15    1.098722
2020-03-18    1.262787
2020-03-14    0.116035
2020-03-16   -0.245863
2020-03-13   -0.728054
Name: A, dtype: float64

In [40]:
df[0:3]

                   A         B         C         D
2020-03-17  1.951085 -2.141165 -0.234059  1.124010
2020-03-15  1.098722 -1.425293  1.304516  0.642981
2020-03-18  1.262787 -0.443534  0.919941  0.519135

In [41]:
df['2020-03-15': '2020-03-18']

                   A         B         C         D
2020-03-17  1.951085 -2.141165 -0.234059  1.124010
2020-03-15  1.098722 -1.425293  1.304516  0.642981
2020-03-18  1.262787 -0.443534  0.919941  0.519135
2020-03-16 -0.245863  0.814059 -0.465454  0.099760

In [43]:
df.loc[dates[0]]

A   -0.728054
B    1.010481
C   -0.097438
D   -0.398045
Name: 2020-03-13 00:00:00, dtype: float64

In [44]:
df.loc[:,['A','B']]

                   A         B
2020-03-17  1.951085 -2.141165
2020-03-15  1.098722 -1.425293
2020-03-18  1.262787 -0.443534
2020-03-14  0.116035 -0.173706
2020-03-16 -0.245863  0.814059
2020-03-13 -0.728054  1.010481

In [45]:
df.loc['20200315':'20200317',['A','B']]

                   A         B
2020-03-17  1.951085 -2.141165
2020-03-15  1.098722 -1.425293
2020-03-16 -0.245863  0.814059

In [46]:
df.loc['20200315',['A','B']]

                   A         B
2020-03-15  1.098722 -1.425293

In [47]:
df.loc[dates[0],'A']

-0.7280541991464085

In [49]:
df.at[dates[0],'A']

-0.7280541991464085

In [50]:
df.iloc[3]

A    0.116035
B   -0.173706
C   -1.674774
D   -0.133561
Name: 2020-03-14 00:00:00, dtype: float64

In [51]:
df.iloc[3:5 ,0:2]

                   A         B
2020-03-14  0.116035 -0.173706
2020-03-16 -0.245863  0.814059

In [54]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2020-03-15  1.098722  1.304516
2020-03-18  1.262787  0.919941
2020-03-16 -0.245863 -0.465454

In [56]:
df.iloc[1:3 , :]

                   A         B         C         D
2020-03-15  1.098722 -1.425293  1.304516  0.642981
2020-03-18  1.262787 -0.443534  0.919941  0.519135

In [57]:
df.iloc[:,1:3]

                   B         C
2020-03-17 -2.141165 -0.234059
2020-03-15 -1.425293  1.304516
2020-03-18 -0.443534  0.919941
2020-03-14 -0.173706 -1.674774
2020-03-16  0.814059 -0.465454
2020-03-13  1.010481 -0.097438

In [58]:
df.iloc[1,1]

-1.4252931689933834

In [60]:
df.iat[1,1]

-1.4252931689933834

In [61]:
df[df['A']>0]

                   A         B         C         D
2020-03-17  1.951085 -2.141165 -0.234059  1.124010
2020-03-15  1.098722 -1.425293  1.304516  0.642981
2020-03-18  1.262787 -0.443534  0.919941  0.519135
2020-03-14  0.116035 -0.173706 -1.674774 -0.133561

In [62]:
df[df>0]

                   A         B         C         D
2020-03-17  1.951085       NaN       NaN  1.124010
2020-03-15  1.098722       NaN  1.304516  0.642981
2020-03-18  1.262787       NaN  0.919941  0.519135
2020-03-14  0.116035       NaN       NaN       NaN
2020-03-16       NaN  0.814059       NaN  0.099760
2020-03-13       NaN  1.010481       NaN       NaN

In [63]:
df2= df.copy()

df2['E'] = ['one','one','two','three','four','three']

df2

                   A         B         C         D      E
2020-03-17  1.951085 -2.141165 -0.234059  1.124010    one
2020-03-15  1.098722 -1.425293  1.304516  0.642981    one
2020-03-18  1.262787 -0.443534  0.919941  0.519135    two
2020-03-14  0.116035 -0.173706 -1.674774 -0.133561  three
2020-03-16 -0.245863  0.814059 -0.465454  0.099760   four
2020-03-13 -0.728054  1.010481 -0.097438 -0.398045  three

In [64]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2020-03-18  1.262787 -0.443534  0.919941  0.519135   two
2020-03-16 -0.245863  0.814059 -0.465454  0.099760  four

In [66]:
s1 = pd.Series([1,2,3,4,5,6], index = pd.date_range('20200315',periods = 6))

s1

2020-03-15    1
2020-03-16    2
2020-03-17    3
2020-03-18    4
2020-03-19    5
2020-03-20    6
Freq: D, dtype: int64

In [0]:
df['F'] = s1

In [0]:
df.at[dates[0],'A']=0

In [0]:
df.iat[0,1]=0

In [0]:
df.loc[:,'D']= np.array([5] * len(df))

In [73]:
df

                   A         B         C  D    F
2020-03-17  1.951085  0.000000 -0.234059  5  3.0
2020-03-15  1.098722 -1.425293  1.304516  5  1.0
2020-03-18  1.262787 -0.443534  0.919941  5  4.0
2020-03-14  0.116035 -0.173706 -1.674774  5  NaN
2020-03-16 -0.245863  0.814059 -0.465454  5  2.0
2020-03-13  0.000000  1.010481 -0.097438  5  NaN

In [76]:
df2 =df.copy()

df2[df2 > 0] = -df2

df2

                   A         B         C  D    F
2020-03-17 -1.951085  0.000000 -0.234059 -5 -3.0
2020-03-15 -1.098722 -1.425293 -1.304516 -5 -1.0
2020-03-18 -1.262787 -0.443534 -0.919941 -5 -4.0
2020-03-14 -0.116035 -0.173706 -1.674774 -5  NaN
2020-03-16 -0.245863 -0.814059 -0.465454 -5 -2.0
2020-03-13  0.000000 -1.010481 -0.097438 -5  NaN

In [78]:
df1 = df.reindex(index = dates[0:4],columns =list(df.columns)+['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D    F    E
2020-03-13  0.000000  1.010481 -0.097438  5  NaN  1.0
2020-03-14  0.116035 -0.173706 -1.674774  5  NaN  1.0
2020-03-15  1.098722 -1.425293  1.304516  5  1.0  NaN
2020-03-16 -0.245863  0.814059 -0.465454  5  2.0  NaN

In [81]:
df1.dropna(how= 'any')

Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

In [82]:
df1.fillna(value = 5)

                   A         B         C  D    F    E
2020-03-13  0.000000  1.010481 -0.097438  5  5.0  1.0
2020-03-14  0.116035 -0.173706 -1.674774  5  5.0  1.0
2020-03-15  1.098722 -1.425293  1.304516  5  1.0  5.0
2020-03-16 -0.245863  0.814059 -0.465454  5  2.0  5.0

In [83]:
pd.isna(df1)

                A      B      C      D      F      E
2020-03-13  False  False  False  False   True  False
2020-03-14  False  False  False  False   True  False
2020-03-15  False  False  False  False  False   True
2020-03-16  False  False  False  False  False   True